* {
    margin: 0;
    padding: 0;
    boxing-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgb(0,0,0,0.3)), url(images/meskel-cover-page.png);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo {
    width: 120px;
    cursor: pointer;
}
.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
}
.register-btn {
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
}
.container {
    padding: 0 7%;
}
.header h1 {
    font-size: 4vw;
    font-width: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}
.search-bar {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button {
    background: tomato;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img {
    width: 15px;
    margin-top: 7px;
}
.location-input {
    flex: 1;
}
.search-bar form label {
    font-weight: 600;
}

/*---------- selectives ----- */
.subtitle {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.selectives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.selectives > div> img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.selectives div img {
    width: 100%;
    border-radius: 10px;
}
.selectives div {
    position: relative;
}
.selectives div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* ..... Popular Destinations .... */
.popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.popular > div > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.popular div img {
    width: 100%;
    border-radius: 10px;
}
.popular h3 {
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

/* ---- invitation to do ----- */
.invitation-to-do {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url("images/selectives/reception-haile-resort-arba-minch.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.invitation-to-do h3 {
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 500;
}
.invitation-to-do p {
    font-size: 18px;
    margin: 10px 0;
}
.invitation-to-do-btn {
    background: tomato;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

/* ---- Journeyers Collections ---- */
.journeyers-recollections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.journeyers-recollections div img {
    width: 100%;
    border-radius: 10px;
}
.journeyers-recollections div {
    position: relative;
    text-align: center;
}
.journeyers-recollections p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}
.journeyers-recollections > div > img {
    width: 365px;
    height: 206px;
    object-fit: cover;
}
.commence-btn {
    text-decoration: none;
    background: tomato;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/* ----- Details about Ethiopian Vacation Spots ----- */
.ethio-tourist-msg {
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.ethio-tourist-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}
.ethio-tourist-msg > p {
    text-align: justify;
}

/* ---- footer ---- */
.footer {
    margin: 80px 0 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p {
    padding-bottom: 15px;
    font-size: 12px;
    font-style: italic;
}

/* --- active navbar --- */
.active {
    position: relative;
}
.active::after {
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars {
    display: none;
}

/* ------- small screen devices ------ */
@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #9d4c4c;
        padding: 10px;
        max-height: 115px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .register-btn {
        display: block;
        margin-top: 10px;
    }
    nav .fa-bars {
        display: block;
        position: fixed;
        top: 4%;
        right: 12%;
        color: #fff;
        font-size: 28px;
    }
    .hide-menu {
        max-height: 300px;
    }
    .header h1 {
        font-size: 7vw;
    }
    .search-bar {
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form {
        display: block;
    }
    .search-bar form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .search-bar form button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .subtitle {
        font-size: 6vw;
    }
    .invitation-to-do {
        padding: 15% 5%;
    }
    .invitation-to-do h3 {
        font-size: 7vw;
        line-height: 8vw;
    }
    .invitation-to-do p {
        font-size: 14px;
    }
    .invitation-to-do-btn {
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    /*.journeyers-recollections p {*/
    /*    font-size: 22px;*/
    /*}*/
    .ethio-tourist-msg {
        font-size: 15px;
    }
    .commence-btn {
        padding: 12px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 15px;
    }

}

/* ----- hotels list page -----*/
.navbar-white {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.navbar-white .nav-links li a {
    color: #000;
}
.navbar-white .register-btn {
    background: tomato;
    color: #fff;
}
nav.navbar-white .fa-bars {
    color: #000;
}
.navbar-white .active::after {
    background: tomato;
}
.guesthouses-list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col {
    flex-basis: 70%;
}
.right-col {
    flex-basis: 25%;
}
.left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img {
    flex-basis: 40%;
}
.house-info {
    flex-basis: 58%;
    color: #555;
}
.house-img img {
    border-radius: 12px;
    width: 100%;
    height: 206px;
    object-fit: cover;
}
.house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i {
    color: orangered;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price {
    text-align: right;
}
.house-price h4 {
    font-size: 20px;
}
.house-price h4 span {
    font-size: 16px;
    font-weight: 500;
}
.sidebar {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2 {
    font-weight: 500;
}
.sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter {
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p {
    flex: 1;
}
.filter input {
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link {
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a {
    text-decoration: none;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination i {
    width: 15px;
    margin: 10px 20px;
}
.pagination span {
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current {
    background: #333;
    color: #fff;
}

/* ---- small devices for hotels list ---- */
@media only screen and (max-width: 768px) {
    .guesthouses-list-container {
        margin-top: 50px;
    }
    .left-col, .right-col, .house-img, .house-info {
        flex-basis: 100%;
    }
    .left-col h1 {
        font-size: 20px;
    }
    .house-info h3, .house-info i {
        font-size: 16px;
    }
    .pagination span {
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

}

/* ----- hotel details ----- */
.hotel-details {
    padding: 0 12%;
}
.hotel-title {
    margin-top: 50px;
}
.hotel-title h1 {
    font-weight: 600;
}
.hotel-title .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.hotel-title span {
    margin: 0 20px;
}
.hotel-title i {
    color: tomato;
    font-size: 14px;
}
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}
.gallery div img {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 100%;
}
.gallery-img-1 {
    grid-area: first;
}
.small-details h2 {
    font-weight: 500;
}
.small-details h4 {
    text-align: right;
    font-size: 22px;
}
.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 5px;
}
.check-form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.check-form label {
    display: block;
}
.check-form div {
    padding: 20px;
}
.check-form input {
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button {
    background: tomato;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 250px;
    border-radius: 8px;
    font-size: 16px;
}
.guest-field {
    flex: 1;
}
.details-list {
    list-style: none;
    margin: 50px 0;
}
.details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}
.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.details-list li i {
    position: absolute;
    top: 5px;
    left: -40px;
}
.home-desc {
    max-width: 700px;
    margin: 20px 0 20px 0;
    text-align: justify;
}
.map {
    margin: 50px 0;
}
.map iframe {
    width: 100%;
    margin-bottom: 30px;
}
.map h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.map b {
    display: block;
    margin-bottom: 16px;
}
.host {
    display: flex;
    align-items: center;
}
.host img {
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.host h2 {
    margin-bottom: 10px;
    font-weight: 500;
}
.host i {
    color: tomato;
}
.contact-host {
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid tomato;
    border-radius: 8px;
}

/* ---- media query for hotel details ---*/
@media only screen and (max-width: 768px) {
    .row p {
        margin-top: 10px;
    }
    .gallery {
        grid-template-areas: 'first first' '. .' '. .';
    }
    .small-details h2 {
        font-size: 20px;
        margin-top: 24px;
    }
    .small-details h4 {
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form {
        padding: 10px 30px;
    }
    .check-form div {
        padding: 20px 0;
        width: 100%;
    }
    .check-form input {
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }
    .check-form button {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .host {
        display: block;
        line-height: 28px;
    }
    .contact-host {
        margin: 40px 0;
    }

}